[submodule "Content/Funktionalanalysis-WS2015"]
	path = Content/Funktionalanalysis-WS2015
	url = https://github.com/MBelica/Funktionalanalysis-WS2015.git
[submodule "Content/GeoTopo"]
	path = Content/GeoTopo-Herrlich/GeoTopo
	url = https://github.com/MartinThoma/GeoTopo.git
[submodule "Content/NeuralNets"]
	path = Content/NeuralNets
	url = https://github.com/Marvin182/NeuralNets
[submodule "Content/Economics-and-Behaviour-WS2015"]
	path = Content/Economics-and-Behaviour-WS2015
	url = https://github.com/MBelica/Economics-and-Behaviour-WS2015.git
[submodule "Content/Algorithmen-I"]
	path = Content/Algorithmen-I
	url = https://github.com/sxleixer/Algorithmen-I.git
[submodule "Content/kit-tut-prog"]
	path = Content/kit-tut-prog
	url = https://github.com/daniel-j-h/kit-tut-prog
[submodule "Content/Moderne-Physik"]
	path = Content/Moderne-Physik
	url = https://github.com/parttimenerd/Moderne-Physik.git
[submodule "Content/Programmieren-sschaef/kit-tut"]
	path = Content/Programmieren-sschaef/kit-tut
	url = https://github.com/sschaef/kit-tut.git
[submodule "Content/chemistry-school-mthoma/chemistry"]
	path = Content/chemistry-school-mthoma/chemistry
	url = git@github.com:MartinThoma/chemistry.git
[submodule "Content/dlindner-software-engineering/vorlesung-se2-dhbw"]
	path = Content/dlindner-software-engineering/vorlesung-se2-dhbw
	url = https://github.com/dlindner/vorlesung-se2-dhbw.git
[submodule "Content/tobiasschulz-swt/karlsruhe-kit-swt"]
	path = Content/tobiasschulz-swt/karlsruhe-kit-swt
	url = https://github.com/tobiasschulz/karlsruhe-kit-swt.git
[submodule "Content/leonhandreke-sicherheit/sicherheit-uni-karlsruhe-ss12"]
	path = Content/leonhandreke-sicherheit/sicherheit-uni-karlsruhe-ss12
	url = https://github.com/leonhandreke/sicherheit-uni-karlsruhe-ss12.git
[submodule "Content/sxleixer-algorithmen-i/Algorithmen-I"]
	path = Content/sxleixer-algorithmen-i/Algorithmen-I
	url = https://github.com/sxleixer/Algorithmen-I.git
[submodule "Content/algomaus-Algorithmen1-SS2013/Algorithmen1-SS2013"]
	path = Content/algomaus-Algorithmen1-SS2013/Algorithmen1-SS2013
	url = https://github.com/algomaus/Algorithmen1-SS2013.git
[submodule "Content/algomaus-LineareAlgebra/LineareAlgebra"]
	path = Content/algomaus-LineareAlgebra/LineareAlgebra
	url = https://github.com/algomaus/LineareAlgebra.git
[submodule "Content/algomaus-TGI-Folien-WS-2011-12/TGI-Folien-WS-2011-12"]
	path = Content/algomaus-TGI-Folien-WS-2011-12/TGI-Folien-WS-2011-12
	url = https://github.com/algomaus/TGI-Folien-WS-2011-12.git
[submodule "Content/algomaus-EinfStochastik/EinfStochastik"]
	path = Content/algomaus-EinfStochastik/EinfStochastik
	url = https://github.com/algomaus/EinfStochastik.git
[submodule "Content/algomaus-GeoTopoUebung/GeoTopoUebung"]
	path = Content/algomaus-GeoTopoUebung/GeoTopoUebung
	url = https://github.com/algomaus/GeoTopoUebung.git
[submodule "Content/algomaus-Funktheo/Funktheo"]
	path = Content/algomaus-Funktheo/Funktheo
	url = https://github.com/algomaus/Funktheo
[submodule "Content/artificial-intelligence-mmaier"]
	path = Content/artificial-intelligence-mmaier
	url = git@github.com:MartinThoma/artificial-intelligence-mmaier.git
[submodule "Content/Lineare-Algebra/Zusammenfassung-LA1"]
	path = Content/Lineare-Algebra/Zusammenfassung-LA1
	url = git@github.com:Jintzo/Zusammenfassung-LA1.git
[submodule "Content/Lineare-Algebra/Zusammenfassung-LA2"]
	path = Content/Lineare-Algebra/Zusammenfassung-LA2
	url = https://github.com/Jintzo/Zusammenfassung-LA2
[submodule "Content/Databases/DBS"]
	path = Content/Databases/DBS
	url = https://github.com/Jintzo/DBS
